/**
 *
 */
.wsgrid__table {
    border-collapse:collapse;
}

.wsgrid__table thead {
	display: block;
	overflow: auto;
    background-color: lightgray;
    cursor: pointer;
}

.wsgrid__table tbody {
	display: block;
	overflow: auto;
}

.wsgrid__table th,
.wsgrid__table td {
	text-align: left;
	vertical-align: top;
}

.wsgrid__row_odd {
    background-color: lightcyan;
}
.wsgrid__row_even {
    background-color: white;
}
