/**
 *
 */
$font-family: "sans-serif";
$font-size: 14px;

.wsgrid__table {
    background-color: white;
    border: 1px solid lightgray;
    border-collapse: collapse;
    display: block;
    font-family: $font-family;
    font-size: $font-size;
    height: 100%;
    overflow: auto;
    position:relative;
    white-space: nowrap;
    width: 100%;

    thead {
        cursor: pointer;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 10;

        th {
            background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
            border-bottom: 1px solid black;
        }
    }

    tbody {
    	display: block;
    	overflow: auto;

        tr:hover {
            td {
                background-color: #ececec;
            }
        }
        tr:hover td.selected,
        td.selected {
            background-color: LightSkyBlue; /* light gray */
        }
    }

    tfoot {
        bottom: 0;
        position: sticky;
        z-index: 10;
    }

    thead,
    tbody,
    tfoot {
        display: table;
        overflow: auto;
    }

    tr {
        display: flex;
    }

    th,
    td {
        border-right: 1px solid black;
        overflow: hidden;
        padding: 3px;
    	text-align: left;
    	vertical-align: top;
    }
    th:last-of-type,
    td:last-of-type {
        border-right: none;
    }
    td:hover {
        background-color: #f8f8f8;
    }
    td.selected {
        background-color: LightSkyBlue; /* light gray */
    }
}
.wsgrid__row.selected_row td {
    background-color: #e0e0e0; /* light gray */
}
.wsgrid__row_group_header,
.wsgrid__row_group_footer {
    width: 100%;
}
td.wsgrid__column_group_header {
    padding: 0;
    width: 100%;
}
td.wsgrid__column_group_footer {
    text-align: right;
    padding: 0;
    width: 100%;
}
.wsgrid__row_odd {
    background-color: lightcyan;
}
.wsgrid__row_even {
    background-color: white;
}
.wsgrid__totals td {
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    border-top: 1px solid black;
    font-weight: bold;
}
.wsgrid__header_column {
    position: relative;
    white-space: nowrap;
}
.wsgrid__header_sort {
    position: absolute;
    top: 3px;
}
.wsgrid__header_column_resize {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
}
.wsgrid__header_column_resize:hover {
    cursor: col-resize;
}
.wsgrid__header_column_move_target {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 25%;
}
.wsgrid__header_column_move_target:hover {
    cursor: move;
}
#wsgrid__header_column_resize_visual {
    border: 2px dashed gray;
    position: fixed;
    width: 0;
}
#wsgrid__header_row_resize_visual {
    border: 2px dashed gray;
    position: fixed;
    height: 0;
}
.wsgrid_header_row_move {
    width: 100%;
}
.wsgrid__multiselect_cell {
    width: 20px;
}
.wsgrid__column_row_move_target_header,
.wsgrid__column_row_move_target {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    width: 5px;
}
.wsgrid__column_row_move_target:hover {
    cursor: move;
}
