/**
 *
 */
.wsgrid__table {
    background-color: white;
    border: 1px solid lightgray;
    border-collapse: collapse;
    display: block;
    font-size: 14px;
    height: 100%;
    overflow: auto;
    position:relative;
    width: calc( 100% - 10px );

    thead {
        background-color: lightgray;
        cursor: pointer;
    	display: block;
        margin-right: 7px;
    	overflow: auto;
    }

    tbody {
    	display: block;
    	overflow: auto;

        tr:hover {
            background-color: #ececec;
        }
    }

    th,
    td {
    	text-align: left;
    	vertical-align: top;
        padding: 3px;
        border-right: 1px solid black;
    }
    th:last-of-type,
    td:last-of-type {
        border-right: none;
    }
    td:hover {
        background-color: #f8f8f8;
    }
    td.selected {
        background-color: #a0a0a0; /* light gray */
        border: 1px solid LightSkyBlue;
    }
}

.wsgrid__row_odd {
    background-color: lightcyan;
}
.wsgrid__row_even {
    background-color: white;
}

.wsgrid__totals {
    font-weight: bold;
}
